.nav-content {
  display: flex;
  font-family: 'Source Serif Pro', serif; 
}

.nav-link {
 display: block;
 width: 20%; 
} 

.page-header {
  background-image: url{"assets/images/pasted image 0.png"};
  background-size: cover;
}
